*.o
*.cmd
*.ko
*.so
*.si4project
*.in
*.config
*/Kbuild
*zconf.c
*zconf.*
*/conf
*/fixdep
*/docproc
*/kbuild
*.kconfig.d
*.kernelrelease
include/applets.h
include/autoconf.h
include/usage.h
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
archival/libarchive/Kbuild
coreutils/libcoreutils/Kbuild
networking/libiproute/Kbuild
networking/udhcp/Kbuild
scripts/kconfig/conf
util-linux/volume_id/Kbuild
